body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  text-align: center;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 4px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}


header #branding h1{
  margin:0;
}

footer{
  padding:8px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
}

#showcase img{
  display: inline;
  padding: 50px;
  }

.brightness{
  width: 80%;
  margin: 0 auto;
}

#recent_posts.brightness {
    background-color: white;
    display: inline;

}
.brightness img:hover {
    opacity: .8;
    border-radius: 5px;
