#mp {
	text-align: left;
}

#bl {
	text-align: center;
}

#js {
	text-align: right;
	padding-right: 20px;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
/* Sidenav won't show otherwise... make sure this is updated. */
.row.content {
  height: 1500px
}

/* Set gray background color and 100% height */ 
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 12px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}



